# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Secrets / API keys
.env
key.txt
api-key.txt

# Virtual environments
.venv
env/
venv/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs & data
*.log
*.pkl
*.h5
*.pt
*.pth
/pipeline_outputs/
/act/temp/
/plan/temp/
action_outputs/
nav_graph.png
test.png
test2.png
test_ai2thor.py
temp/